Fabric==1.6.1
Powerline==beta
distribute==0.6.34
git-remote-helpers==0.1.0
paramiko==1.10.1
pycrypto==2.6
stevedore==0.8
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.0
wsgiref==0.1.2
